.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

/packages/
riderModule.iml
/_ReSharper.Caches/
.vscode/
.vs/
/backend/src/Services/Identity/S2O.Services.Identity.Infrastructure/Repositories/RoleRepository.cs
