.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

/packages/
riderModule.iml
/_ReSharper.Caches/
.vscode/
.vs/
/backend/.vs/S2O.restaurant/v17/.suo
/backend/.vs/
*.suo
*.cache
*.nupkg
!packages/build/
TestResults/
*.trdx
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.log
.env
firebase-adminsdk.json