version: '3.8'

services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: s2o.rabbitmq
    ports:
      - "5672:5672"   # Cổng kết nối dữ liệu
      - "15672:15672" # Cổng quản lý (UI)
   
  identity-api:
    volumes:
      - ./infra/keys:/root/.aspnet/DataProtection-Keys
    build:
      context: .
      dockerfile: src/Services/Identity/S2O.Identity.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - MessageBroker__Host=rabbitmq
      - ConnectionStrings__DefaultConnection=${IDENTITY_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    depends_on:
      - rabbitmq
    ports:
      - "5001:8080"

  catalog-api:
    build:
      context: .
      dockerfile: src/Services/Catalog/S2O.Catalog.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${CATALOG_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5002:8080"
    
  order-api:
    build:
      context: .
      dockerfile: src/Services/Order/S2O.Order.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${ORDER_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
      - ExternalServices__CatalogUrl=http://catalog-api:8080
    ports:
      - "5003:8080"

  tenant-api:
    volumes:
      - ./infra/keys:/root/.aspnet/DataProtection-Keys
    build:
      context: .
      dockerfile: src/Services/Tenant/S2O.Tenant.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - MessageBroker__Host=rabbitmq
      - ConnectionStrings__DefaultConnection=${TENANT_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    depends_on:
      - rabbitmq
    ports:  
      - "5004:8080"

  booking-api:
    build:
      context: .
      dockerfile: src/Services/Booking/S2O.Booking.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${BOOKING_DB_CONN}
      - ConnectionStrings__TenantConnection=${TENANT_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    ports:
      - "5005:8080"

  payment-api:
    build:
      context: .
      dockerfile: src/Services/Payment/S2O.Payment.Api/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${PAYMENT_DB_CONN}
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    ports:
      - "5006:8080"

  gateway:
    build:
      context: .
      dockerfile: src/Gateways/S2O.GateWay/Dockerfile
    environment:
      - DOTNET_SYSTEM_NET_DISABLEIPV6=1
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5000:8080"
    depends_on:
      - identity-api
      - catalog-api
      - order-api
      - tenant-api
      - booking-api
      - payment-api