version: '3.8'

services:
  identity-api:
    build:
      context: .
      dockerfile: src/Services/Identity/S2O.Identity.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Identity_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5001:8080"

  catalog-api:
    build:
      context: .
      dockerfile: src/Services/Catalog/S2O.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Catalog_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5002:8080"
    
  order-api:
    build:
      context: .
      dockerfile: src/Services/Order/S2O.Order.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Order_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true;Timeout=120;Command Timeout=300
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
      - ExternalServices__CatalogUrl=http://catalog-api:8080
    ports:
      - "5003:8080"

  tenant-api:
    build:
      context: .
      dockerfile: src/Services/Tenant/S2O.Tenant.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Tenant_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    ports:  
      - "5004:8080"

  booking-api:
    build:
      context: .
      dockerfile: src/Services/Booking/S2O.Booking.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Booking_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      # Nếu dùng Tenant Connection thì uncomment dòng dưới và sửa tương tự
      - ConnectionStrings__TenantConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Tenant_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    ports:
      - "5005:8080"

  payment-api:
    build:
      context: .
      dockerfile: src/Services/Payment/S2O.Payment.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=ep-lingering-shape-a19hwreb-pooler.ap-southeast-1.aws.neon.tech;Database=S2O_Payment_Db;Username=neondb_owner;Password=npg_dtoyQ4T8Uwjv;SSL Mode=Require;Trust Server Certificate=true
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    ports:
      - "5006:8080"

  gateway:
    build:
      context: .
      dockerfile: src/Gateways/S2O.GateWay/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5000:8080"
    depends_on:
      - identity-api
      - catalog-api
      - order-api
      - tenant-api
      - booking-api
      - payment-api