version: '3.8'

services:
  s2o.db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=postgres
      - TZ=Asia/Ho_Chi_Minh      
      - PGTZ=Asia/Ho_Chi_Minh
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  identity-api:
    build:
      context: .
      dockerfile: src/Services/Identity/S2O.Identity.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Identity_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    depends_on:
      s2o.db: 
        condition: service_healthy
    ports:
      - "5001:8080"

  catalog-api:
    build:
      context: .
      dockerfile: src/Services/Catalog/S2O.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Catalog_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    depends_on:
      s2o.db:
        condition: service_healthy
    ports:
      - "5002:8080"
    
  order-api:
    build:
      context: .
      dockerfile: src/Services/Order/S2O.Order.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Order_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    depends_on:
      s2o.db:
        condition: service_healthy
    ports:
      - "5003:8080"

  tenant-api:
    build:
      context: .
      dockerfile: src/Services/Tenant/S2O.Tenant.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Tenant_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    depends_on:
      s2o.db:
        condition: service_healthy
    ports:  
      - "5004:8080"

  booking-api:
    build:
      context: .
      dockerfile: src/Services/Booking/S2O.Booking.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Booking_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    depends_on:
      s2o.db:
        condition: service_healthy
    ports:
      - "5005:8080"

  payment-api:
    build:
      context: .
      dockerfile: src/Services/Payment/S2O.Payment.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=s2o.db;Database=S2O_Payment_Db;Username=postgres;Password=admin123
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
    depends_on:
      s2o.db:
        condition: service_healthy
    ports:
      - "5006:8080"

  gateway:
    build:
      context: .
      dockerfile: src/Gateways/S2O.GateWay/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=S2O_Super_Secret_Key_For_Identity_Service_2026
      - Jwt__Issuer=S2O.Identity
      - Jwt__Audience=S2O.Restaurant
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
    ports:
      - "5000:8080"
    depends_on:
      - identity-api
      - catalog-api
      - order-api
      - tenant-api
      - booking-api
      - payment-api

volumes:
  postgres_data: